[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BibPlots"]
	path = BibPlots
	url = https://github.com/cran/BibPlots
[submodule "PWIR"]
	path = PWIR
	url = https://github.com/cran/PWIR
